{% from "macros.html" import render_field %}
<form method="post"
      id="character-form"
      action="{{ url_for("characters.generate") }}">
    <h1 class="title is-4">Generate an NPC</h1>
    {{ form.hidden_tag() }}
    {{ render_field(form.game_system) }}
    {{ render_field(form.template_id) }}
    {{ render_field(form.hints, class="textarea") }}
    <details>
        <summary class="is-clickable">More options</summary>
        <div class="mt-2">
            {{ render_field(form.alignment_id) }}
            {{ render_field(form.class_id) }}
            {{ render_field(form.race_id) }}
        </div>
    </details>
    <div class="control mt-5">
        <button class="button is-primary is-fullwidth is-medium" type="submit">
            <span class="icon">
                <i class="fas fa-wand-magic-sparkles"></i>
            </span>
            <span>Generate</span>
        </button>
    </div>
</form>
